p {
    font-size: 25px;
    font-family:"Lucida Handwriting" ;
    font-weight: normal;
    color:#2EC8EA;
    text-align: left;
    text-align: justify;
}


header{
font-size: 30px;
font-family:"Lucida Handwriting";
font-weight: normal;
color: #F1419A;
text-align: center;

}


footer{
    font-size: 30px;
    font-family: "Lucida Handwriting";
    color: #F661AC;
    text-align: center;
} 

.parrafo1{
font-size: 35px;
font-family:"Lucida Handwriting";
font-weight:normal;
color:#2EC8EA;
text-align: center;
text-align: left;
    }
 .parrafo2{
     
 }