p {
    font-size: 25px;
    font-family:"Lucida Handwriting" ;
    font-weight: normal;
    color:#2EC8EA;
    text-align: left;
    text-align: justify;
}

main {
background-color: ;

}

body{
    background-color: ;
}

header{
background-color:#F1336D;

}


main{

}

footer{
    font-size: 30px;
    font-family: "Lucida Handwriting";
    color:#F661AC;
    text-align: center;

}